body {
    background-color: black;
}

.title {
    border-left: 2px solid #e94558;
    margin: 0 min(100px, 10%);
    padding: 50px 50px 0 50px;
    max-width: 1180px;
    width: 80%;
    
    color: white;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 68px;
    font-weight: 700;
    text-align: left;
    word-wrap: break-word;
}

.scan {    
    margin-top: 45px;

    .scan__label {
        display: block;
        margin: 0 auto;
        width: fit-content;
        
        background-color: white;
        padding: 6px 20px;
        border: none;
        
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 34px;
        text-align: center;

        &:active {
            background-color: rgb(200, 200, 200);
        }

        &:hover {
            cursor: pointer;
        }
    }

    .scan__input {
        display: none;
    }
}

.buttons-wrapper {
    margin: 45px auto 0 auto;
    padding: 2% 0 12px 0;
    position: relative;
    width: 80%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .button {
        background-color: white;
        padding: 6px 20px;
        border: none;

        font-family: "Open Sans", Arial, sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 34px;

        &:active {
            background-color: rgb(200, 200, 200);
        }

        &:hover {
            cursor: pointer;
        }
    }
}
