#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-content: center;
  background-color: black;
}

.route {
  display: block;
  height: 100%;
  padding: 32px;
  overflow-y: auto;
  position: relative;
}

.content {
    display: flex;
    flex-direction: column;
}
